
.hamburguer {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }


/* ================= RESPONSIVIDADE ================= */

/* Tablets até 1024px */
@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 40px 20px;
  }

  .hero-image img {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
  }

  .about-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    width: 100%;
    margin: 20px 0;
  }

  .projects-wrapper {
    flex-wrap: wrap;
  }

  .services-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
   }


}

/* Celulares até 768px */
@media (max-width: 768px) {
  /* Menu mobile */
  .nav-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #1E0E2B;
    text-align: center;
    padding: 20px 0;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 24px 0;
  }

  .hamburguer {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .nav-menu.active {
  display: block;
}

.skills-slider {
  overflow: hidden;
}

  /* Ajustes gerais */
  .hero-text {
    font-size: 1.8rem;
  }

  .hero-text > p {
    text-transform: uppercase;
    line-height: 2.3rem;
  }

  .project-card {
    width: 90%;
    margin: 15px auto;
  }

  .service-card {
    max-width: 90%;
    height: auto;
  }

  footer p {
    font-size: 12px;
  }

  
}

@media screen and (max-width: 768px) {
  .projects-section .portfolio-container {
    grid-template-columns: 1fr; /* 1 coluna só */
    margin: 20px; /* margem menor */
    gap: 12px;
  }

  .interface > .title-section {
    font-size: 1.5rem; /* título menor ainda */
    padding-top: 30px;
  }

  .portfolio-container .portfolio-box {
    height: 450px; /* altura menor para caber na tela */
  }

  .portfolio-container .portfolio-box .infor-portfolio {
    font-size: 16px; /* texto menor */
  }
}

/* Celulares pequenos até 480px */
@media (max-width: 480px) {
  .hero-text {
    font-size: 1.4rem;
    line-height: 28px;
  }

  .hero-image > img {
    /* max-width: 100%; */
    display: none;
  }

  .about-image > img {
    margin: -4rem;
    width: 96%;
    object-fit: cover;
  }

  .about-content > h3 {
    font-size: 1.5rem;
  }

  
  .section-title2,
  .section-2 {
    font-size: 0.9rem;
  }

  .services-section > .title-section {
    margin: 0 auto;
    font-size: 1.3rem;
    margin-top: 3rem;
  
  }

  .service-card {
    padding: 15px;
  }

  .social-icons a {
    font-size: 18px;
  }
}
