.hamburguer {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
@media(max-width: 768px) {
  
  .about-wrapper,
  .projects-wrapper,
  .services-wrapper{
    flex-direction: column;
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-text {
    font-size: 2rem;
    line-height: 50px;
  }

  .hero-image  img{
    width: 100%;
    max-width: 400px;

  }

  .about-content {
    width: 100%;
  }

  .about-content > h3 {
    font-weight: 400;
    border-bottom: 2px solid rgb(166, 230, 238);
    display: inline-block;
    padding-bottom: 5px;
  }

  .section-title {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .section-title2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    color: rgb(224, 179, 63);
  }

  .section-2 {
    color: white;
    line-height: 5px;
    font-size: 1.3rem;
    text-align: center;
   
  }

  span {
  color: #dceaff;
  font-weight: 500;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  /* menu hambueguer */
  .nav-menu ul {
    display: none;
    flex-direction: column;
    background-color: rgb(32, 30, 30);
    color: beige;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 1rem;
    z-index: 99;
  }

  .nav-menu ul.active {
    display: flex;
  }

  .hamburguer {
    display: block;
  }
}